@import '../../assets/scss/vars';

#spinner {
    width: 100%;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    margin: 0;
    padding: 20% 0 0 0;
    // background-color: $beige;
    z-index: 10000;
    box-sizing: border-box;
    span {
        font-family: 'staatliches';
        font-size: $font-size-small;
        color: $yellow;
        font-weight: bold;
        padding: 30px 10%;
        text-align: center;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, $yellow, #bd3018, $yellow);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 4s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        z-index: 10;
        position: relative;
        text-align: center;
        display: block;
    }
  }
  
  
  
  @keyframes animate {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #loading {
    // margin-left: -300px;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
  }
  
  .circle {
    position: relative;
    background-color: (0,0,0,0);
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  #first {
    width: 150px;
    height: 150px;
    border: 34px solid #e6a934;
    z-index: 1;
    animation: yellow 8s cubic-bezier(.8, .1, .2, 1);
    transform-origin: 45% 55% 0;
    outline-style: solid;
    outline-color: $beige;
    outline-width: 1000px;
    
  }
  
  #second {
    width: 137px;
    height: 137px;
    margin-top: -143.5px;
    border: 25px solid #d45514;
    z-index: 2;
    animation: orange 8s cubic-bezier(.8, .1, .2, 1);
    transform-origin: 50% 40% 0;
  }
  
  #third {
    width: 115px;
    height: 115px;
    margin-top: -126px;
    border: 18px solid #bd3018;
    z-index: 3;
    animation: red 8s cubic-bezier(.8, .1, .2, 1);
    transform-origin: 65% 55% 0;
  }
  
  @keyframes yellow {
    0% {transform: rotate(0deg) rotate(0deg); background-color: $beige;}
    75% {
      background-color: $beige;
    }
    85% {transform: rotate(0deg)  rotate(360deg); background-color: none;}
    100% { transform-origin: center center; transform: scale(30, 30);}
  }
  
  @keyframes orange {
    0% {transform: rotate(0deg)  rotate(0deg);}
    85% {transform: rotate(0deg)  rotate(360deg);}
    100% { transform-origin: center center; transform: scale(30, 30);}
  }
  
  @keyframes red {
    0% {transform: rotate(0deg)  rotate(0deg);}
    85% {transform: rotate(0deg)  rotate(360deg);}
    100% { transform-origin: center center; transform: scale(30, 30); }
  }
  
  @media (max-width: 1100px) {
    #spinner {
      padding-top: 25%;
    }
  }

  @media (max-width: 562px) {
    #spinner {
        padding-top: 40%;
      }
    
    #loading {
      margin-bottom: 50px;
    }
  }
  
  