@import '../../assets/scss/_vars.scss';


.intro {
    position: relative;
    padding: $big-gutter;
    position: relative;
    height: 100%;
    .intro-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        br {
            display: none;
        }
    }
    .name {
        font-family: 'Staatliches';
        font-size: $font-size-xxbig;
        color: $yellow;
    }
    strong {
        font-family: 'PT-Serif-bold';
        font-size: $font-size-xbig;
    }
    .intro-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        span {
            font-size: 14px;
            margin-right: 5px;
            font-family: 'arial';
            font-weight: bold;
            display: flex;
        }
        .cv {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        img {
           height: 18.33px; 
        }
    }
}

@media only screen and (min-width: 640px) {
    .intro {
        .intro-description {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: start;
            br {
                display: none;
            }
        }
        .intro-links {
            width: 100%;
            span {
                display: flex;
            }
        }
    }
}

@media only screen and (min-width: 1314px) {
    .intro {
        display: flex;
        justify-content: space-between;
        .intro-description {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: start;
            br {
                display: block;
            }
        }
        .intro-links {
            width: 100%;
        }
    }
}
