@import '../../assets/scss/vars';

#hook {
    position: relative;
    z-index: 0;
    padding: $xxbig-gutter 0;
    width: 100%;;
    .hook-title {
        display: block;
        font-family: "staatliches";
        margin-bottom: $big-gutter;
        font-size: $font-size-xxbig;
        color: $orange;
        text-align: center;
    }
    .hook-intro {
        display: flex;
        flex-direction: column;
        .hook-content {
            margin-top: $small-gutter;
            width: 100%;
            strong {
                font-weight: bold;
            }
            &:nth-of-type(even) {
                align-self: start;
            }
        }
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        margin: auto;
        margin: auto;
        left: 50%;
        top: 50%;
        text-align: center;
        width: 450px;
        height: 450px;
        background-color: $yellow;
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%) scale(0.5);
    }
    &.before-animated {
        &:before {
            animation: pulse 1s ease-in-out;
            @keyframes pulse {
                0% { transform: translate(-50%, -50%) scale(0.5); }
                5% { transform: translate(-50%, -50%) scale(0.4); }
                80% { transform: translate(-50%, -50%) scale(1.2); }
                95%{ transform: translate(-50%, -50%) scale(0); }
                100%{ transform: translate(-50%, -50%) scale(0.5); }
            }  
        }
    }
    #sparkle {
        display: block;
        width: 5px;
        height: 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(230, 169, 52) 30%, rgb(230, 169, 52) 70%, rgba(254, 254, 254, 0) 100%);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 300px;
        opacity: 1;
        z-index: -1;

        &.sparkle-animate {
            animation: sparkle 0.7s ease-in-out 0.5s;
            @keyframes sparkle {
                0% {
                    top : 225px;
                    opacity: 1;
                 }
                98% {
                    top: 900px;
                    opacity: 0.6;
                }
                100%{
                    top: 1000px;
                    opacity: 0;
                }
            }  
        }
    }
}

@media only screen and (min-width: 1314px) {
    #hook {
        .hook-intro {
            .hook-content {
                width: 50%;
                &:nth-of-type(even) {
                    align-self: flex-end;
                }
            }
        }
    }
}